<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:08:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CommunityPageTest.Blogstest()[pri:1, instance:testingTestNG.CommunityPageTest@2038ae61]">Blogstest</td> 
  <td>TestNG-test=Mcafee-prod-report-4@389045451</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:08:32</td>   <td>-23063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CommunityPageTest.CommunityPagetest()[pri:0, instance:testingTestNG.CommunityPageTest@2038ae61]">CommunityPagetest</td> 
  <td>TestNG-test=Mcafee-prod-report-2@38256672</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>17/03/23 14:08:33</td>   <td>-21453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ThreatCentrePageTest.ThreatCentrePagetest()[pri:0, instance:testingTestNG.ThreatCentrePageTest@60c6f5b]">ThreatCentrePagetest</td> 
  <td>TestNG-test=Mcafee-prod-report-1@2117288274</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:08:12</td>   <td>-42612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CommunityPageTest.beforesuite(java.lang.String, java.lang.String)[pri:0, instance:testingTestNG.CommunityPageTest@2038ae61]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-6@1493381728</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>17/03/23 14:08:12</td>   <td>-42612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ThreatCentrePageTest.beforesuite(java.lang.String, java.lang.String)[pri:0, instance:testingTestNG.ThreatCentrePageTest@60c6f5b]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-3@468110063</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:08:34</td>   <td>-20598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CommunityPageTest.beforesuite(java.lang.String, java.lang.String)[pri:0, instance:testingTestNG.CommunityPageTest@2038ae61]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-6@1493381728</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>17/03/23 14:08:34</td>   <td>-20595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ThreatCentrePageTest.beforesuite(java.lang.String, java.lang.String)[pri:0, instance:testingTestNG.ThreatCentrePageTest@60c6f5b]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-3@468110063</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:08:47</td>   <td>-7905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CommunityPageTest.beforesuite(java.lang.String, java.lang.String)[pri:0, instance:testingTestNG.CommunityPageTest@2038ae61]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-6@1493381728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:08:47</td>   <td>-7765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CommunityPageTest.beforesuite(java.lang.String, java.lang.String)[pri:0, instance:testingTestNG.CommunityPageTest@2038ae61]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-6@1493381728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:08:34</td>   <td>-20738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CommunityPageTest.teardown(org.testng.ITestResult)[pri:0, instance:testingTestNG.CommunityPageTest@2038ae61]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-4@389045451</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>17/03/23 14:08:46</td>   <td>-9071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ThreatCentrePageTest.teardown(org.testng.ITestResult)[pri:0, instance:testingTestNG.ThreatCentrePageTest@60c6f5b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-1@2117288274</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>17/03/23 14:09:03</td>   <td>8459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CommunityPageTest.teardown(org.testng.ITestResult)[pri:0, instance:testingTestNG.CommunityPageTest@2038ae61]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Mcafee-prod-report-4@389045451</td>   <td></td> </tr>
</table>
