<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fa893">  <td>17/05/16 11:45:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PrivacyPageTest.M1()[pri:0, instance:testingTestNG.PrivacyPageTest@5f2108b5]">&gt;&gt;M1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>17/05/16 11:45:13</td>   <td>597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrivacyPageTest.Privacytest()[pri:8, instance:testingTestNG.PrivacyPageTest@5f2108b5]">Privacytest</td> 
  <td>main@540642172</td>   <td></td> </tr>
</table>
