<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89a8e2">  <td>17/05/23 15:06:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PrivacyPageTest.M1()[pri:0, instance:testingTestNG.PrivacyPageTest@5f282abb]">&gt;&gt;M1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1983025922</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/05/23 15:06:44</td>   <td>925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PrivacyPageTest.beforesuite(java.lang.String, java.lang.String, java.lang.reflect.Method, java.lang.String)[pri:0, instance:testingTestNG.PrivacyPageTest@5f282abb]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td>  <td>main@1983025922</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/05/23 15:06:51</td>   <td>8520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrivacyPageTest.Privacytest()[pri:8, instance:testingTestNG.PrivacyPageTest@5f282abb]">Privacytest</td> 
  <td>main@1983025922</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/05/23 15:08:02</td>   <td>79241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PrivacyPageTest.teardown(org.testng.ITestResult)[pri:0, instance:testingTestNG.PrivacyPageTest@5f282abb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1983025922</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/05/23 15:08:04</td>   <td>81259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrivacyPageTest.Privacytest()[pri:8, instance:testingTestNG.PrivacyPageTest@5f282abb]">Privacytest</td> 
  <td>main@1983025922</td>   <td></td> </tr>
</table>
